interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://id.loc.gov/search/?q=test&q=cs%3Ahttp%3A%2F%2Fid.loc.gov%2Fauthorities%2Fsubjects
  response:
    body: {string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML+RDFa 1.0//EN\"\n            \"http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd\">\n<html
        version=\"XHTML+RDFa 1.0\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:madsrdf=\"http://www.loc.gov/mads/rdf/v1#\"
        xmlns:ri=\"http://id.loc.gov/ontologies/RecordInfo#\" xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"
        xmlns:rdfs=\"http://www.w3.org/2000/01/rdf-schema#\" xmlns:skos=\"http://www.w3.org/2004/02/skos/core#\"
        xmlns:skosxl=\"http://www.w3.org/2008/05/skos-xl#\" xmlns:owl=\"http://www.w3.org/2002/07/owl#\"
        xmlns:cs=\"http://www.w3.org/2003/06/sw-vocab-status/ns#\" xmlns:dcterms=\"http://purl.org/dc/terms/\">\n
        \ <head>\n    <title>Search Results - LC Linked Data Service: Authorities
        and Vocabularies | Library of Congress</title>\n    <meta name=\"description\"
        content=\" The Linked Data Service provides access to commonly found standards
        and vocabularies promulgated by the Library of Congress. This includes data
        values and the controlled vocabularies that house them.   Datasets available
        include LCSH, BIBFRAME, LC Name Authorities, LC Classification, MARC codes,
        PREMIS vocabularies, ISO language codes, and more.\"/>\n    <link rel=\"schema.DC\"
        href=\"http://purl.org/dc/elements/1.1/\"/>\n    <link rel=\"dc.relation.isPartOf\"
        href=\"//www.loc.gov/\" title=\"Library of Congress\"/>\n    <meta name=\"dc.title\"
        content=\" LC Linked Data Service: Authorities and Vocabularies (Library of
        Congress)\"/>\n    <meta name=\"dc.contributor\" content=\"The Library of
        Congress\"/>\n    <meta name=\"dc.subject\" content=\"Library of Congress
        Subject Headings\"/>\n    <meta name=\"dc[...]
- request:
    body: null
    headers:
      app_id: [3c2afa0f]
      app_key: [15ecd0fa9dbdc536326c09065012f76a]
    method: GET
    uri: https://od-api.oxforddictionaries.com/api/v1/entries/en/test
  response:
    body: {string: "{\n    \"metadata\": {\n        \"provider\": \"Oxford University
        Press\"\n    },\n    \"results\": [\n        {\n            \"id\": \"test\",\n
        \           \"language\": \"en\",\n            \"lexicalEntries\": [\n                {\n
        \                   \"entries\": [\n                        {\n                            \"etymologies\":
        [\n                                \"late Middle English (denoting a cupel
        used to treat gold or silver alloys or ore): via Old French from Latin testu,
        testum \u2018earthen pot\u2019, variant of testa \u2018jug, shell\u2019. Compare
        with test. The verb dates from the early 17th century\"\n                            ],\n
        \                           \"grammaticalFeatures\": [\n                                {\n
        \                                   \"text\": \"Singular\",\n                                    \"type\":
        \"Number\"\n                                }\n                            ],\n
        \                           \"homographNumber\": \"100\",\n                            \"senses\":
        [\n                                {\n                                    \"definitions\":
        [\n                                        \"a procedure intended to establish
        the quality, performance, or reliability of something, especially before it
        is taken into widespread use\"\n                                    ],\n                                    \"examples\":
        [\n                                        {\n                                            \"text\":
        \"both countries carried out nuclear tests in May\"\n                                        },\n
        \                                       {\n                                            \"text\":
        \"four fax modems are on test\"\n                                        }\n
        \                                   ],\n                                    \"id\":
        \"m_en_gbus1042280.006\",\n                                    \"subsenses\":
        [\n                                        {\n                                            \"definitions\":
        [\n                                                \"a short written or spoken
        examination of a person's proficiency or knowledge\"\n                                            ],\n
        \                                           \"examples\": [\n                                                {\n
        \                                                   \"tex[...]
