interactions:
- request:
    body: null
    headers:
      app_id: [3c2afa0f]
      app_key: [15ecd0fa9dbdc536326c09065012f76a]
    method: GET
    uri: https://od-api.oxforddictionaries.com/api/v1/search/en?q=test
  response:
    body: {string: "{\n    \"results\": [\n        {\n            \"matchString\":
        \"test\",\n            \"word\": \"test\",\n            \"matchType\": \"inflection\",\n
        \           \"inflection_id\": \"test\",\n            \"region\": \"gb\",\n
        \           \"id\": \"test\"\n        },\n        {\n            \"matchType\":
        \"headword\",\n            \"matchString\": \"test\",\n            \"region\":
        \"us\",\n            \"id\": \"test.\",\n            \"word\": \"test.\"\n
        \       },\n        {\n            \"matchType\": \"headword\",\n            \"matchString\":
        \"test\",\n            \"region\": \"gb\",\n            \"id\": \"a-test\",\n
        \           \"word\": \"A-test\"\n        },\n        {\n            \"ma[...]
- request:
    body: null
    headers:
      app_id: [3c2afa0f]
      app_key: [15ecd0fa9dbdc536326c09065012f76a]
    method: GET
    uri: https://od-api.oxforddictionaries.com/api/v1/entries/en/test
  response:
    body: {string: "{\n    \"metadata\": {\n        \"provider\": \"Oxford University
        Press\"\n    },\n    \"results\": [\n        {\n            \"id\": \"test\",\n
        \           \"language\": \"en\",\n            \"lexicalEntries\": [\n                {\n
        \                   \"entries\": [\n                        {\n                            \"etymologies\":
        [\n                                \"late Middle English (denoting a cupel
        used to treat gold or silver alloys or ore): via Old French from Latin testu,
        testum \u2018earthen pot\u2019, variant of testa \u2018jug, shell\u2019. Compare
        with test. The verb dates from the early 17th century\"\n                            ],\n
        \                           \"grammaticalFeatures\": [\n                                {\n
        \                                   \"text\": \"Singular\",\n                                    \"type\":
        \"Number\"\n                                }\n                            ],\n
        \                           \"homographNumber\": \"100\",\n                            \"senses\":
        [\n                                {\n                                    \"definitions\":
        [\n                                        \"a procedure intended to establish
        the quality, performance, or reliability of something, especially before it
        is taken into widespread use\"\n                                    ],\n                                    \"examples\":
        [\n                                        {\n                                            \"text\":
        \"both countries carried out nuclear tests in May\"\n                                        },\n
        \                                       {\n                                            \"text\":
        \"four fax modems are on test\"\n                                        }\n
        \                                   ],\n                                    \"id\":
        \"m_en_gbus1042280.006\",\n                                    \"subsenses\":
        [\n                                        {\n                                            \"definitions\":
        [\n                                                \"a short written or spoken
        examination of a person's proficiency or knowledge\"\n                                            ],\n
        \                                           \"examples\": [\n                                                {\n
        \                                                   \"tex[...]
