{% macro page_contents(data, lcsh_data) %}
{% for le in data %}
  {{lexical_entry(le)}}
{% endfor %}
{{lcsh_subjects(lcsh_data)}}
{% endmacro %}

{% macro lexical_entry(lex_entry) %}
<div class="lexical-entry lexical-entry-{{lex_entry['lexicalCategory']|lower}} panel panel-default">
  <header class="panel-heading">
    <h2 class="panel-title">Definition</h2>
  </header>
  <div class="panel-body">
  {% for an_entry in lex_entry['entries'] %}
    {{ entry(an_entry) }}
  {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro entry(an_entry) %}
<div class="entry">
  {% for a_sense in an_entry['senses'] %}
  {% if 'definitions' in a_sense %}
  <p>Sense {{loop.index}}</p>
  {{sense(a_sense)}}
  {% endif %}
  {% endfor %}
</div>
{% endmacro %}

{% macro sense(a_sense) %}
<div class="sense">
  <ul class="definitions list-group">
    {% for a_def in a_sense['definitions'] %}
      <li class="list-group-item">{{ a_def }}</li>
    {% endfor %}
    {% for a_subsense in a_sense['subsenses'] %}
      {{subsense(a_subsense)}}
  {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro subsense(a_subsense) %}
{% for a_def in a_subsense['definitions'] %}
<li class="list-group-item">{{a_def}}</li>
{% endfor %}

{% endmacro %}

{% macro lcsh_subjects(subjects) %}
<div class="lcsh-subjects panel panel-default">
  <header class="panel-heading">
    <h3 class="panel-title">LCSH Terms</h3>
  </header>
  <div class="panel-body">
    <ul class="subjects list-group">
      {% for name, url in subjects.items() %}
      <li class="list-group-item"><a href="{{url}}">{{name}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
