{% extends "layout.html" %}

{% block title %}
Defineapalooza
{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2 col-md-offset-4"><h1>Defineapalooza!</h1></div>
  <div class="col-md-8 col-md-offset-2">
    <form class="form-basic" method="POST">
      {{ word_form.hidden_tag() }}
      {{ wtf.form_errors(word_form) }}
      <div class="input-group">
	{{ wtf.form_field(word_form.word, form_type="inline") }}
	<span class="input-group-btn">
	  <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit&nbsp;&nbsp;<span class="glyphicon glyphicon-book"></span></button>
	</span>
      </div>
</div>
{% endblock content %}
